:root{
    --background-body: #121214;
    --background-card: #202024;
    --color-placeholder: #7C7C8A;
    --color-text-apoio: #8D8D99;
    --color-background-comment: #29292E;
    --green-lights: #00B37E;
    --color-title: #E1E1E6;
    --color-text: #C4C4CC;
    --red-danger: #F75A68;
    --divider: #323238;
    --green: #00875F;
    --white: white;
    --red: #F75A68;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* vai expremendo o conteudo sem aumentar a caixa*/
}
body{
    background-color: var(--background-body);
    color: var(--color-text);
    /*-webkit-font-smoothing: antialiased;*/
}
body, input, textarea, button{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}
